<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments::navbar}"></div>
<main class="container min-vh-100">
    <div th:replace="~{fragments::flash}"></div>
    <h1>Login</h1>
    <p th:text="${error}" class="error"></p>
    <form action="/login" method="post">
        <div><label for="">Email</label><input name="username" type="text"></div>
        <div><label for="">Mdp</label><input name="password" type="password"></div>
        <button>Envoyer</button>
    </form>
</main>
<div th:replace="~{fragments::foot}"></div>
</body>
</html>